<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add A New Restaurant <i class="fas fa-plus-circle fa-sm"></i></h5>
          <hr>
          <form method="POST" action="/restaurants">
            <div class="row mb-3 g-2">
              <label for="id" class="col-md-4 col-form-label">
                ID
              </label>
              <div class="col-md-8">
                <input type="number" name="id" class="form-control" id="id">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="name" class="col-md-4 col-form-label">
                Restaurant's Name
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" required>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="name_en" class="col-md-4 col-form-label">
                Restaurant's English Name
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="category" class="col-md-4 col-form-label">
                Category
              </label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" id="category">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="image" class="col-md-4 col-form-label">
                Image's URL
              </label>
              <div class="col-md-8">
                <input type="text" name="image" class="form-control" id="image">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="location" class="col-md-4 col-form-label">
                Restaurant's Address
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="phone" class="col-md-4 col-form-label">
                Restaurant's Phone Number
              </label>
              <div class="col-md-8">
                <input type="text" name="phone" class="form-control" id="phone">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="google_map" class="col-md-4 col-form-label">
                GoogleMap's URL
              </label>
              <div class="col-md-8">
                <input type="text" name="google_map" class="form-control" id="google_map">
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="rating" class="col-md-4 col-form-label">
                Restaurant's Rating
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" min="0" max="5" step="0.1">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="description" class="col-md-4 col-form-label" rows="3">
                Description
              </label>
              <div class="col-md-8">
                <textarea type="text" name="description" class="form-control" id="description"></textarea>
              </div>
            </div>

            <!-- submit button -->
            <button class="btn btn-success" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>